<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head'); %>
    <title><%= name %></title>
</head>
<body>
<div class="content">
    <h1><%= name %></h1>

    <div class="copy-id">
        <% if(writeId) { %>
            <label for="write-id-field">Copier l'URL pour éditer le projet</label><br/>
            <input type="text" name="write-id-field" value=<%= URL + 'projects/' + writeId %>/>
            <br/><br/>
        <% } %>

        <label for="read-id-field">Copier l'URL pour voir le projet (lecture seulement)</label><br/>
        <input type="text" name="read-id-field" value=<%= URL + 'projects/' + readId %>/>
    </div>

    <% buttons.forEach(button => { %>
        <%- include("../partials/mainButton", {name: button.name, writeId: writeId, id: button.id, url: URL + 'projects/' + (writeId ? writeId : readId) + "/" + button.id}); %>
    <% }); %>

    <% if (writeId) { %>
        <form id="create-button-form" action="/create_button" method="post" class="buttons-form">
            <input type="text" name="name" id="button-name" placeholder="Nom du nouveau bouton" class="big-input" hidden required
                   maxlength="20"/>
            <input value=<%= writeId %> type="text" id="writeId" name="writeId" hidden>
        </form>
        <button id="add-button" class="button" style="background-color: var(--green)">Ajouter un bouton</button>
    <% } %>
</div>

<script src="/js/main.js"></script>
</body>
</html>
